body{

    background-color: rgb(222, 105, 46);
    margin: 0px;
}

footer{
    background-color: black;
   width: 1110px;
   height: 200px;
   margin-top: 20px;
}
.color{
    color: rgb(231, 85, 22);

}
.color1{
   color:  rgb(211, 79, 13);
}