body{

    background-color: rgb(222, 105, 46);
}

footer{
    background-color: black;
   width: 100%;
   height: 50%;
}
.color{
    color: rgb(231, 85, 22);

}
.color1{
   color:  rgb(211, 79, 13);
}